/venv
/.idea
/.vscode
/node_modules

# ignore .o files
*.o
/cuda-samples/bin/x86_64

# unstructured build files (had to be added manually)
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/3.16.3/CompilerIdC/a.out
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
/cuda-samples/Samples/6_Performance/alignedTypes/alignedTypes
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/async.h
/cuda-samples/Samples/0_Introduction/asyncAPI/asyncAPI
/cuda-samples/Samples/1_Utilities/bandwidthTest/bandwidthTest
/cuda-samples/Samples/4_CUDA_Libraries/batchCUBLAS/batchCUBLAS
/cuda-samples/Samples/4_CUDA_Libraries/batchedLabelMarkersAndLabelCompressionNPP/batchedLabelMarkersAndLabelCompressionNPP
/cuda-samples/Samples/3_CUDA_Features/bf16TensorCoreGemm/bf16TensorCoreGemm
/cuda-samples/Samples/3_CUDA_Features/binaryPartitionCG/binaryPartitionCG
/cuda-samples/Samples/5_Domain_Specific/binomialOptions/binomialOptions
/cuda-samples/Samples/5_Domain_Specific/binomialOptions_nvrtc/binomialOptions_nvrtc
/cuda-samples/Samples/5_Domain_Specific/BlackScholes/BlackScholes
/cuda-samples/Samples/5_Domain_Specific/BlackScholes_nvrtc/BlackScholes_nvrtc
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/CMakeFiles/clobber.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/CMakeFiles/testrun.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/clobber.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/dsl.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/testrun.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/clobber.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/ptxgen.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/testrun.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/clobber.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/simple.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/testrun.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/syscalls/CMakeFiles/clobber.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/syscalls/CMakeFiles/testrun.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/clobber.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/testrun.dir/build.make
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/uvmlite.dir/build.make
/cuda-samples/Samples/0_Introduction/c++11_cuda/c++11_cuda
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/dsl.dir/C.includecache
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/ptxgen.dir/C.includecache
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/simple.dir/C.includecache
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/uvmlite.dir/C.includecache
/cuda-samples/Samples/3_CUDA_Features/cdpAdvancedQuicksort/cdpAdvancedQuicksort
/cuda-samples/Samples/3_CUDA_Features/cdpBezierTessellation/cdpBezierTessellation
/cuda-samples/Samples/3_CUDA_Features/cdpQuadtree/cdpQuadtree
/cuda-samples/Samples/3_CUDA_Features/cdpSimplePrint/cdpSimplePrint
/cuda-samples/Samples/3_CUDA_Features/cdpSimpleQuicksort/cdpSimpleQuicksort
/cuda-samples/Samples/0_Introduction/clock/clock
/cuda-samples/Samples/0_Introduction/clock_nvrtc/clock_nvrtc
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/cmake.check_cache
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/CMakeFiles/clobber.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/CMakeFiles/testrun.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/clobber.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/dsl.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/testrun.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/clobber.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/ptxgen.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/testrun.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/clobber.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/simple.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/testrun.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/syscalls/CMakeFiles/clobber.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/syscalls/CMakeFiles/testrun.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/clobber.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/testrun.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/uvmlite.dir/cmake_clean.cmake
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/cmake_install.cmake
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/cmake_install.cmake
/cuda-samples/Samples/7_libNVVM/build/ptxgen/cmake_install.cmake
/cuda-samples/Samples/7_libNVVM/build/simple/cmake_install.cmake
/cuda-samples/Samples/7_libNVVM/build/syscalls/cmake_install.cmake
/cuda-samples/Samples/7_libNVVM/build/uvmlite/cmake_install.cmake
/cuda-samples/Samples/7_libNVVM/build/cmake_install.cmake
/cuda-samples/Samples/7_libNVVM/build/CMakeCache.txt
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/CMakeDirectoryInformation.cmake
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/CMakeFiles/CMakeDirectoryInformation.cmake
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/CMakeDirectoryInformation.cmake
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/CMakeDirectoryInformation.cmake
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/CMakeDirectoryInformation.cmake
/cuda-samples/Samples/7_libNVVM/build/syscalls/CMakeFiles/CMakeDirectoryInformation.cmake
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/CMakeDirectoryInformation.cmake
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/CMakeError.log
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/CMakeOutput.log
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/3.16.3/CMakeSystem.cmake
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/coalesced_reduce.h
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/coalesced_scan.h
/cuda-samples/Samples/0_Introduction/concurrentKernels/concurrentKernels
/cuda-samples/Samples/4_CUDA_Libraries/conjugateGradient/conjugateGradient
/cuda-samples/Samples/4_CUDA_Libraries/conjugateGradientCudaGraphs/conjugateGradientCudaGraphs
/cuda-samples/Samples/4_CUDA_Libraries/conjugateGradientMultiBlockCG/conjugateGradientMultiBlockCG
/cuda-samples/Samples/4_CUDA_Libraries/conjugateGradientMultiDeviceCG/conjugateGradientMultiDeviceCG
/cuda-samples/Samples/4_CUDA_Libraries/conjugateGradientPrecond/conjugateGradientPrecond
/cuda-samples/Samples/4_CUDA_Libraries/conjugateGradientUM/conjugateGradientUM
/cuda-samples/Samples/5_Domain_Specific/convolutionFFT2D/convolutionFFT2D
/cuda-samples/Samples/2_Concepts_and_Techniques/convolutionSeparable/convolutionSeparable
/cuda-samples/Samples/2_Concepts_and_Techniques/convolutionTexture/convolutionTexture
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups.h
/cuda-samples/Samples/0_Introduction/cppIntegration/cppIntegration
/cuda-samples/Samples/0_Introduction/cppOverload/cppOverload
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/CTestTestfile.cmake
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CTestTestfile.cmake
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CTestTestfile.cmake
/cuda-samples/Samples/7_libNVVM/build/simple/CTestTestfile.cmake
/cuda-samples/Samples/7_libNVVM/build/syscalls/CTestTestfile.cmake
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CTestTestfile.cmake
/cuda-samples/Samples/7_libNVVM/build/CTestTestfile.cmake
/cuda-samples/Samples/3_CUDA_Features/cudaCompressibleMemory/cudaCompressibleMemory
/cuda-samples/Samples/6_Performance/cudaGraphsPerfScaling/cudaGraphsPerfScaling
/cuda-samples/Samples/0_Introduction/cudaOpenMP/cudaOpenMP
/cuda-samples/Samples/3_CUDA_Features/cudaTensorCoreGemm/cudaTensorCoreGemm
/cuda-samples/Samples/2_Concepts_and_Techniques/cuHook/cuHook
/cuda-samples/Samples/4_CUDA_Libraries/cuSolverDn_LinearSolver/cuSolverDn_LinearSolver
/cuda-samples/Samples/4_CUDA_Libraries/cuSolverRf/cuSolverRf
/cuda-samples/Samples/4_CUDA_Libraries/cuSolverSp_LinearSolver/cuSolverSp_LinearSolver
/cuda-samples/Samples/4_CUDA_Libraries/cuSolverSp_LowlevelCholesky/cuSolverSp_LowlevelCholesky
/cuda-samples/Samples/4_CUDA_Libraries/cuSolverSp_LowlevelQR/cuSolverSp_LowlevelQR
/cuda-samples/Samples/2_Concepts_and_Techniques/dct8x8/dct8x8
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/dsl.dir/depend.internal
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/ptxgen.dir/depend.internal
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/simple.dir/depend.internal
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/uvmlite.dir/depend.internal
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/dsl.dir/depend.make
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/ptxgen.dir/depend.make
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/simple.dir/depend.make
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/uvmlite.dir/depend.make
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/CMakeFiles/clobber.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/CMakeFiles/testrun.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/clobber.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/dsl.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/testrun.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/clobber.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/ptxgen.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/testrun.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/clobber.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/simple.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/testrun.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/syscalls/CMakeFiles/clobber.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/syscalls/CMakeFiles/testrun.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/clobber.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/testrun.dir/DependInfo.cmake
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/uvmlite.dir/DependInfo.cmake
/cuda-samples/Samples/1_Utilities/deviceQuery/deviceQuery
/cuda-samples/Samples/1_Utilities/deviceQueryDrv/deviceQueryDrv
/cuda-samples/Samples/3_CUDA_Features/dmmaTensorCoreGemm/dmmaTensorCoreGemm
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/driver_abi.h
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/dsl
/cuda-samples/Samples/7_libNVVM/install/bin/dsl
/cuda-samples/Samples/7_libNVVM/build/dsl-gpu64.ll
/cuda-samples/Samples/7_libNVVM/install/bin/dsl-gpu64.ll
/cuda-samples/Samples/5_Domain_Specific/dwtHaar1D/dwtHaar1D
/cuda-samples/Samples/5_Domain_Specific/dxtc/dxtc
/cuda-samples/Samples/2_Concepts_and_Techniques/eigenvalues/eigenvalues
/cuda-samples/Samples/5_Domain_Specific/fastWalshTransform/fastWalshTransform
/cuda-samples/Samples/5_Domain_Specific/FDTD3d/FDTD3d
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/dsl.dir/flags.make
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/ptxgen.dir/flags.make
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/simple.dir/flags.make
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/uvmlite.dir/flags.make
/cuda-samples/Samples/0_Introduction/fp16ScalarProduct/fp16ScalarProduct
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/functional.h
/cuda-samples/Samples/3_CUDA_Features/globalToShmemAsyncCopy/globalToShmemAsyncCopy
/cuda-samples/Samples/3_CUDA_Features/graphConditionalNodes/graphConditionalNodes
/cuda-samples/Samples/3_CUDA_Features/graphMemoryFootprint/graphMemoryFootprint
/cuda-samples/Samples/3_CUDA_Features/graphMemoryNodes/graphMemoryNodes
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/helpers.h
/cuda-samples/Samples/2_Concepts_and_Techniques/histogram/histogram
/cuda-samples/Samples/5_Domain_Specific/HSOpticalFlow/HSOpticalFlow
/cuda-samples/Samples/3_CUDA_Features/immaTensorCoreGemm/immaTensorCoreGemm
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/info.h
/cuda-samples/Samples/2_Concepts_and_Techniques/inlinePTX/inlinePTX
/cuda-samples/Samples/2_Concepts_and_Techniques/inlinePTX_nvrtc/inlinePTX_nvrtc
/cuda-samples/Samples/7_libNVVM/build/install_manifest.txt
/cuda-samples/Samples/2_Concepts_and_Techniques/interval/interval
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/invoke.h
/cuda-samples/Samples/3_CUDA_Features/jacobiCudaGraphs/jacobiCudaGraphs
/cuda-samples/Samples/4_CUDA_Libraries/jitLto/jitLto
/cuda-samples/Samples/6_Performance/LargeKernelParameter/LargeKernelParameter
/cuda-samples/Samples/2_Concepts_and_Techniques/cuHook/libcuhook.so.1
/cuda-samples/Samples/4_CUDA_Libraries/lineOfSight/lineOfSight
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/dsl.dir/link.txt
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/ptxgen.dir/link.txt
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/simple.dir/link.txt
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/uvmlite.dir/link.txt
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/Makefile
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/Makefile
/cuda-samples/Samples/7_libNVVM/build/ptxgen/Makefile
/cuda-samples/Samples/7_libNVVM/build/simple/Makefile
/cuda-samples/Samples/7_libNVVM/build/syscalls/Makefile
/cuda-samples/Samples/7_libNVVM/build/uvmlite/Makefile
/cuda-samples/Samples/7_libNVVM/build/Makefile
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/Makefile.cmake
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/Makefile2
/cuda-samples/Samples/0_Introduction/matrixMul/matrixMul
/cuda-samples/Samples/0_Introduction/matrixMulDrv/data/matrixMul_kernel64.fatbin
/cuda-samples/Samples/0_Introduction/matrixMulDrv/matrixMul_kernel64.fatbin
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/matrixMul_nvrtc
/cuda-samples/Samples/4_CUDA_Libraries/matrixMulCUBLAS/matrixMulCUBLAS
/cuda-samples/Samples/0_Introduction/matrixMulDrv/matrixMulDrv
/cuda-samples/Samples/0_Introduction/matrixMulDynlinkJIT/matrixMulDynlinkJIT
/cuda-samples/Samples/2_Concepts_and_Techniques/MC_EstimatePiInlineP/MC_EstimatePiInlineP
/cuda-samples/Samples/2_Concepts_and_Techniques/MC_EstimatePiInlineQ/MC_EstimatePiInlineQ
/cuda-samples/Samples/2_Concepts_and_Techniques/MC_EstimatePiP/MC_EstimatePiP
/cuda-samples/Samples/2_Concepts_and_Techniques/MC_EstimatePiQ/MC_EstimatePiQ
/cuda-samples/Samples/2_Concepts_and_Techniques/MC_SingleAsianOptionP/MC_SingleAsianOptionP
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/memcpy_async.h
/cuda-samples/Samples/3_CUDA_Features/memMapIPCDrv/data/memMapIpc_kernel64.ptx
/cuda-samples/Samples/3_CUDA_Features/memMapIPCDrv/memMapIpc_kernel64.ptx
/cuda-samples/Samples/3_CUDA_Features/memMapIPCDrv/memMapIPCDrv
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/memory.h
/cuda-samples/Samples/0_Introduction/mergeSort/mergeSort
/cuda-samples/Samples/4_CUDA_Libraries/MersenneTwisterGP11213/MersenneTwisterGP11213
/cuda-samples/Samples/5_Domain_Specific/MonteCarloMultiGPU/MonteCarloMultiGPU
/cuda-samples/Samples/3_CUDA_Features/newdelete/newdelete
/cuda-samples/Samples/5_Domain_Specific/NV12toBGRandResize/NV12toBGRandResize
/cuda-samples/Samples/4_CUDA_Libraries/nvJPEG/nvJPEG
/cuda-samples/Samples/4_CUDA_Libraries/nvJPEG_encoder/nvJPEG_encoder
/cuda-samples/Samples/5_Domain_Specific/p2pBandwidthLatencyTest/p2pBandwidthLatencyTest
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/partitioning.h
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/CMakeFiles/clobber.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/CMakeFiles/testrun.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/clobber.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/dsl.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/testrun.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/clobber.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/ptxgen.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/testrun.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/clobber.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/simple.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/testrun.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/syscalls/CMakeFiles/clobber.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/syscalls/CMakeFiles/testrun.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/clobber.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/testrun.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/uvmlite.dir/progress.make
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/progress.marks
/cuda-samples/Samples/7_libNVVM/build/cuda-shared-memory/CMakeFiles/progress.marks
/cuda-samples/Samples/7_libNVVM/build/device-side-launch/CMakeFiles/progress.marks
/cuda-samples/Samples/7_libNVVM/build/ptxgen/CMakeFiles/progress.marks
/cuda-samples/Samples/7_libNVVM/build/simple/CMakeFiles/progress.marks
/cuda-samples/Samples/7_libNVVM/build/syscalls/CMakeFiles/progress.marks
/cuda-samples/Samples/7_libNVVM/build/uvmlite/CMakeFiles/progress.marks
/cuda-samples/Samples/7_libNVVM/build/ptxgen/ptxgen
/cuda-samples/Samples/7_libNVVM/install/bin/ptxgen
/cuda-samples/Samples/3_CUDA_Features/ptxjit/ptxjit
/cuda-samples/Samples/3_CUDA_Features/ptxjit/data/ptxjit_kernel64.ptx
/cuda-samples/Samples/3_CUDA_Features/ptxjit/ptxjit_kernel64.ptx
/cuda-samples/Samples/5_Domain_Specific/quasirandomGenerator/quasirandomGenerator
/cuda-samples/Samples/5_Domain_Specific/quasirandomGenerator_nvrtc/quasirandomGenerator_nvrtc
/cuda-samples/Samples/2_Concepts_and_Techniques/radixSortThrust/radixSortThrust
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/reduce.h
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/reduce.h
/cuda-samples/Samples/2_Concepts_and_Techniques/reduction/reduction
/cuda-samples/Samples/2_Concepts_and_Techniques/reductionMultiBlockCG/reductionMultiBlockCG
/cuda-samples/Samples/2_Concepts_and_Techniques/scalarProd/scalarProd
/cuda-samples/Samples/2_Concepts_and_Techniques/scan/scan
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/scan.h
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/scan.h
/cuda-samples/Samples/2_Concepts_and_Techniques/segmentationTreeThrust/segmentationTreeThrust
/cuda-samples/Samples/2_Concepts_and_Techniques/shfl_scan/shfl_scan
/cuda-samples/Samples/7_libNVVM/build/simple/simple
/cuda-samples/Samples/7_libNVVM/install/bin/simple
/cuda-samples/Samples/7_libNVVM/build/simple-gpu64.ll
/cuda-samples/Samples/7_libNVVM/install/bin/simple-gpu64.ll
/cuda-samples/Samples/0_Introduction/simpleAssert/simpleAssert
/cuda-samples/Samples/0_Introduction/simpleAssert_nvrtc/simpleAssert_nvrtc
/cuda-samples/Samples/0_Introduction/simpleAtomicIntrinsics/simpleAtomicIntrinsics
/cuda-samples/Samples/0_Introduction/simpleAtomicIntrinsics_nvrtc/simpleAtomicIntrinsics_nvrtc
/cuda-samples/Samples/0_Introduction/simpleAttributes/simpleAttributes
/cuda-samples/Samples/0_Introduction/simpleAWBarrier/simpleAWBarrier
/cuda-samples/Samples/0_Introduction/simpleCallback/simpleCallback
/cuda-samples/Samples/0_Introduction/simpleCooperativeGroups/simpleCooperativeGroups
/cuda-samples/Samples/0_Introduction/simpleCubemapTexture/simpleCubemapTexture
/cuda-samples/Samples/4_CUDA_Libraries/simpleCUBLAS/simpleCUBLAS
/cuda-samples/Samples/4_CUDA_Libraries/simpleCUBLAS_LU/simpleCUBLAS_LU
/cuda-samples/Samples/4_CUDA_Libraries/simpleCUBLASXT/simpleCUBLASXT
/cuda-samples/Samples/3_CUDA_Features/simpleCudaGraphs/simpleCudaGraphs
/cuda-samples/Samples/4_CUDA_Libraries/simpleCUFFT/simpleCUFFT
/cuda-samples/Samples/4_CUDA_Libraries/simpleCUFFT_2d_MGPU/simpleCUFFT_2d_MGPU
/cuda-samples/Samples/4_CUDA_Libraries/simpleCUFFT_callback/simpleCUFFT_callback
/cuda-samples/Samples/4_CUDA_Libraries/simpleCUFFT_MGPU/simpleCUFFT_MGPU
/cuda-samples/Samples/0_Introduction/simpleSeparateCompilation/simpleDeviceLibrary.a
/cuda-samples/Samples/0_Introduction/simpleDrvRuntime/simpleDrvRuntime
/cuda-samples/Samples/0_Introduction/simpleHyperQ/simpleHyperQ
/cuda-samples/Samples/0_Introduction/simpleIPC/simpleIPC
/cuda-samples/Samples/0_Introduction/simpleLayeredTexture/simpleLayeredTexture
/cuda-samples/Samples/0_Introduction/simpleMultiCopy/simpleMultiCopy
/cuda-samples/Samples/0_Introduction/simpleMultiGPU/simpleMultiGPU
/cuda-samples/Samples/0_Introduction/simpleOccupancy/simpleOccupancy
/cuda-samples/Samples/0_Introduction/simpleP2P/simpleP2P
/cuda-samples/Samples/0_Introduction/simplePitchLinearTexture/simplePitchLinearTexture
/cuda-samples/Samples/0_Introduction/simplePrintf/simplePrintf
/cuda-samples/Samples/0_Introduction/simpleSeparateCompilation/simpleSeparateCompilation
/cuda-samples/Samples/0_Introduction/simpleStreams/simpleStreams
/cuda-samples/Samples/0_Introduction/simpleSurfaceWrite/simpleSurfaceWrite
/cuda-samples/Samples/0_Introduction/simpleTemplates/simpleTemplates
/cuda-samples/Samples/0_Introduction/simpleTemplates_nvrtc/simpleTemplates_nvrtc
/cuda-samples/Samples/0_Introduction/simpleTexture/simpleTexture
/cuda-samples/Samples/0_Introduction/simpleTextureDrv/data/simpleTexture_kernel64.fatbin
/cuda-samples/Samples/0_Introduction/simpleTextureDrv/simpleTexture_kernel64.fatbin
/cuda-samples/Samples/0_Introduction/simpleTextureDrv/simpleTextureDrv
/cuda-samples/Samples/0_Introduction/simpleVoteIntrinsics/simpleVoteIntrinsics
/cuda-samples/Samples/0_Introduction/simpleVoteIntrinsics_nvrtc/simpleVoteIntrinsics_nvrtc
/cuda-samples/Samples/0_Introduction/simpleZeroCopy/simpleZeroCopy
/cuda-samples/Samples/5_Domain_Specific/SobolQRNG/SobolQRNG
/cuda-samples/Samples/2_Concepts_and_Techniques/sortingNetworks/sortingNetworks
/cuda-samples/Samples/5_Domain_Specific/stereoDisparity/stereoDisparity
/cuda-samples/Samples/2_Concepts_and_Techniques/streamOrderedAllocation/streamOrderedAllocation
/cuda-samples/Samples/2_Concepts_and_Techniques/streamOrderedAllocationIPC/streamOrderedAllocationIPC
/cuda-samples/Samples/2_Concepts_and_Techniques/streamOrderedAllocationP2P/streamOrderedAllocationP2P
/cuda-samples/Samples/3_CUDA_Features/StreamPriorities/StreamPriorities
/cuda-samples/Samples/0_Introduction/matrixMul_nvrtc/cooperative_groups/details/sync.h
/cuda-samples/Samples/0_Introduction/systemWideAtomics/systemWideAtomics
/cuda-samples/Samples/7_libNVVM/build/CMakeFiles/TargetDirectories.txt
/cuda-samples/Samples/0_Introduction/template/template
/cuda-samples/Samples/3_CUDA_Features/tf32TensorCoreGemm/tf32TensorCoreGemm
/cuda-samples/Samples/2_Concepts_and_Techniques/threadFenceReduction/threadFenceReduction
/cuda-samples/Samples/2_Concepts_and_Techniques/threadMigration/threadMigration
/cuda-samples/Samples/2_Concepts_and_Techniques/threadMigration/data/threadMigration_kernel64.fatbin
/cuda-samples/Samples/2_Concepts_and_Techniques/threadMigration/threadMigration_kernel64.fatbin
/cuda-samples/Samples/1_Utilities/topologyQuery/topologyQuery
/cuda-samples/Samples/6_Performance/transpose/transpose
/cuda-samples/Samples/6_Performance/UnifiedMemoryPerf/UnifiedMemoryPerf
/cuda-samples/Samples/0_Introduction/UnifiedMemoryStreams/UnifiedMemoryStreams
/cuda-samples/Samples/7_libNVVM/build/uvmlite/uvmlite
/cuda-samples/Samples/7_libNVVM/install/bin/uvmlite
/cuda-samples/Samples/7_libNVVM/build/uvmlite64.ll
/cuda-samples/Samples/7_libNVVM/install/bin/uvmlite64.ll
/cuda-samples/Samples/0_Introduction/vectorAdd/vectorAdd
/cuda-samples/Samples/0_Introduction/simpleDrvRuntime/data/vectorAdd_kernel64.fatbin
/cuda-samples/Samples/0_Introduction/simpleDrvRuntime/vectorAdd_kernel64.fatbin
/cuda-samples/Samples/0_Introduction/vectorAddDrv/data/vectorAdd_kernel64.fatbin
/cuda-samples/Samples/0_Introduction/vectorAddDrv/vectorAdd_kernel64.fatbin
/cuda-samples/Samples/0_Introduction/vectorAddMMAP/data/vectorAdd_kernel64.fatbin
/cuda-samples/Samples/0_Introduction/vectorAddMMAP/vectorAdd_kernel64.fatbin
/cuda-samples/Samples/0_Introduction/vectorAdd_nvrtc/vectorAdd_nvrtc
/cuda-samples/Samples/0_Introduction/vectorAddDrv/vectorAddDrv
/cuda-samples/Samples/0_Introduction/vectorAddMMAP/vectorAddMMAP
/cuda-samples/Samples/3_CUDA_Features/warpAggregatedAtomicsCG/warpAggregatedAtomicsCG
/cuda-samples/Samples/4_CUDA_Libraries/watershedSegmentationNPP/watershedSegmentationNPP
